#contact{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;

    .input{
        
        &.bug_description{
            height: 30vh;
        }
        
        &.report_description{
            height: 30vh;
        }

        &.other_description{
            height: 30vh;
        }
    }
}