input[type="text"]{
    border-radius: 10px;
    border: grey 1px solid;
    padding: 10px;
}

#header {
    padding-top: 15px;
    transition: 0.3s ease-in-out;
    width: 100%;
    z-index: 1000;
    position: absolute;
    top: 0;

    &.active{
        background-color: white;

        .burger{
            span{
                &:nth-child(1){
                    transform: rotate(45deg);
                    left: 10%;
                    top: 33%;
                }
                &:nth-child(2){
                    transform: rotate(-45deg);
                    left: 9%;
                }
                &:nth-child(3){
                    display: none;
                }
            }
        }
    }

    .burger {
        background-color: white;
        display: inline-block;
        user-select: none;
        padding: 10px;
        border-radius: 100px;
        position: absolute;
        left: 50%;
        height: 50px;
        width: 50px;
        transform: translateX(-50%);
        margin-top: 5px;

        span {
            background: $incideblue;
            display: block;
            height: 3px;
            position: relative;
            width: 25px;
            margin-top: 5px;
            left: 50%;
            top: 5%;
            transform: translateX(-50%);
            transition: 0.3s ease-in-out;
        }
    }

    nav{
        ul{
            margin-top: 50px;
            a{
                text-decoration: none;
                color: $black;
            }
            li{
                margin-bottom: 10px;
                font-size: 20px;

                h2{
                    font-size: 25px;
                    font-weight: 700;
                    margin-bottom: 20px;
                }
            }
        }
    }
}
