.btn {
    background: linear-gradient(to right, #4FB3E0, #3995D8);
    color: white;
    border: none;
    border-radius: 100px;
    padding: 10px 50px;
    font-size: 20px;
    font-weight: 600;
    width: 100%;
}